Repository chamburr/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/ansible, area/kubernetes, area/terraform

fix(docker): update docker.io/hwdsl2/ipsec-vpn-server:latest docker digest to e1c8e3b
  kubernetes/apps/security/ipsec-vpn/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release wallabag to 7.1.2
  kubernetes/apps/utility/haste/helm-release.yaml
  kubernetes/apps/utility/kutt/helm-release.yaml
  kubernetes/apps/utility/zipline/helm-release.yaml
Labels: area/kubernetes

update
  .github/renovate.json
  .github/renovate/commit-message.json
  kubernetes/apps/security/ipsec-vpn/helm-release.yaml
  kubernetes/apps/storage/nextcloud/helm-release.yaml
  kubernetes/apps/utility/haste/helm-release.yaml
  kubernetes/apps/utility/kutt/helm-release.yaml
  kubernetes/apps/utility/zipline/helm-release.yaml
Labels: area/github, area/kubernetes

fix(github): update alex1989hu/kubelet-serving-cert-approver to v0.6.1
  scripts/talos/patch.yaml
Labels: none

feat(terraform): update terraform cloudflare to 3.23.0
  terraform/.terraform.lock.hcl
  terraform/main.tf
Labels: area/terraform

fix(docker): update docker.io/adguard/adguardhome docker tag to v0.107.12
  kubernetes/apps/security/adguard-home/helm-release.yaml
Labels: area/kubernetes

feat(docker): update docker.io/gravitl/netmaker docker tag to v0.15.1
  kubernetes/apps/networking/netmaker/helm-release.yaml
Labels: area/kubernetes

feat(docker): update docker.io/louislam/uptime-kuma docker tag to v1.18.0
  kubernetes/apps/monitoring/uptime-kuma/helm-release.yaml
Labels: area/kubernetes

feat(docker): update docker.io/n8nio/n8n docker tag to v0.193.5
  kubernetes/apps/automation/n8n/helm-release.yaml
Labels: area/kubernetes

feat(docker): update ghcr.io/k8s-at-home/kubectl docker tag to v1.25.0
  kubernetes/apps/networking/cloudflare-ddns/cron-job.yaml
Labels: area/kubernetes

fix(helm): update helm release drone-runner-kube to 0.1.10
  kubernetes/apps/developer/drone/runner/helm-release.yaml
Labels: area/kubernetes

fix(docker): update docker.io/nextcloud docker tag to v24.0.5
  kubernetes/apps/storage/nextcloud/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release drone to 0.6.1
  kubernetes/apps/developer/drone/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release gitea to 6.0.1
  kubernetes/apps/developer/gitea/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release kah-common-chart to 1.2.2
  kubernetes/apps/automation/n8n/helm-release.yaml
  kubernetes/apps/monitoring/uptime-kuma/helm-release.yaml
  kubernetes/apps/networking/error-pages/helm-release.yaml
  kubernetes/apps/security/adguard-home/helm-release.yaml
  kubernetes/apps/security/ipsec-vpn/helm-release.yaml
  kubernetes/apps/security/wg-easy/helm-release.yaml
  kubernetes/apps/utility/flame/helm-release.yaml
  kubernetes/apps/utility/freshrss/helm-release.yaml
  kubernetes/apps/utility/shiori/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release grafana to 6.37.1
  kubernetes/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release home-assistant to 13.4.2
  kubernetes/apps/automation/home-assistant/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release harbor to 1.10.0
  kubernetes/apps/developer/harbor/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to 39.11.0
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  kubernetes/crds/kube-prometheus-stack/crds.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to 35.6.2
  kubernetes/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  kubernetes/crds/kube-prometheus-stack/crds.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to 3.0.1
  kubernetes/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release mailu to 0.3.3
  kubernetes/apps/mail/mailu/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release librespeed to 5.4.2
  kubernetes/apps/networking/librespeed/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release photoprism to 7.1.2
  kubernetes/apps/storage/photoprism/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release rook-ceph to v1.10.0
  kubernetes/crds/rook-ceph/crds.yaml
Labels: area/kubernetes

fix(helm): update helm release photoprism to 6.6.4
  kubernetes/apps/storage/photoprism/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release plausible-analytics to 0.3.52
  kubernetes/apps/developer/plausible/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release minio to 11.10.1
  kubernetes/apps/storage/minio/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v0.0.118
  kubernetes/apps/kube-system/reloader/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release thanos to 10.5.5
  kubernetes/apps/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release samba to 6.2.2
  kubernetes/apps/storage/samba/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release vault to 0.22.0
  kubernetes/core/vault/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release traefik to 10.24.2
  kubernetes/apps/networking/traefik/helm-release.yaml
  kubernetes/crds/traefik/crds.yaml
Labels: area/kubernetes

feat(helm): update helm release thanos to 11.4.0
  kubernetes/apps/monitoring/thanos/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to 0.16.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release vault-secrets-operator to 1.19.2
  kubernetes/crds/vault-secrets-operator/crds.yaml
Labels: area/kubernetes

feat(helm): update helm release vaultwarden to 5.3.2
  kubernetes/apps/security/vaultwarden/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - .github/**/*
area/ansible:
  - ansible/**/*
area/kubernetes:
  - kubernetes/**/*
area/terraform:
  - terraform/**/*
